.main-canvas {
  border: solid black 1px;
  max-width: 100%;
  height: auto;
  width: 100svw;
  height: 60svh;
  touch-action: auto !important;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.game-container {
  visibility: hidden;
  display: none;
}
